.reviews {
    padding: 129px 0 70px;

    &__title {
        font-size: toRem(54);
        font-weight: 700;
        text-transform: uppercase;
        color: #635C73;
        text-align: center;
        margin-bottom: 35px;
    }

    &__descr {
        font-size: toRem(21);
        line-height: 32px;
        color: #323232;
        max-width: 861px;
        width: 100%;
        margin: 0 auto 13px;
    }

    &__items {
        display: flex;
        justify-content: center;
    }

    &__name {
        font-weight: 700;
        background: #F4F4F4;
        padding: 5px;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__number {
        font-weight: 700;
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
        }
    }
}